<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
	
</head>
<style>
    body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.container {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	text-align: center;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #333;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 15px;
	color: #666;
}
#email, #password ,#name {
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	box-sizing: border-box;
	
}

button[type="submit"] {
	background-color: #4d90fe;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #3367d6;
}

a {
	color: #4d90fe;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: #13171f;
}
</style>
<body>
	<div class="container">
		<h1>Create an account</h1>
		<form action="/signup" method="post">
			<label for="name">Full Name:</label>
			<input type="name" id="name" name="name" required>
			<label for="email">Email address:</label>
			<input type="email" id="email" name="email" required>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required>
			<button type="submit" >signup</button>
		</form>
		<p>Already have an account? <a href="/login">Log in</a></p>
	</div>
</body>
</html>